
    
            <mat-toolbar color="primary">
            <span>LITTLE ZEE SCHOOL</span>
            <button mat-button><a routerLink="home">Home</a></button>
            <button mat-button>About</button>
            <button mat-button><a routerLink="admission">Admissions</a></button>
            <button mat-button>Contact Us</button>
                        
            <span class="example-spacer"></span>
            <button mat-raised-button>
                LOGIN
            </button>
             
        </mat-toolbar>
        
        <router-outlet>
        </router-outlet>
          